<header id="header" class="bg-white w-auto h-auto shadow-md pt-3 max-md:hidden">
	<div class="flex flex-col justify-center items-center pb-3">
		<img src="{{asset('picture/logo4.png')}}" alt="" class="h-12 w-12 sm:h-12 sm:w-12">
		<p class="logo">Flo'zen</p>
    </div>
</header>
