{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}


 <ul>
   {% for product in products %}
   <li>Produit: {{ product.name }} | Prix unité: {{ product.price|format_currency('EUR', locale='fr') }}</li>
   {% endfor %}
   <h2>Total: {{ product.price|format_currency('EUR', locale='fr') }}</h2>
</ul>

{% endblock %}
