@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(255, 255, 255);
}

.custom-black-hr {
    border-color: rgba(0, 0, 0, 0.438);
}

@font-face {
    font-family: 'Gwendolyn';
    src: url('../font/Gwendolyn-Regular.ttf');
}

#home_title {
 font-family: 'Gwendolyn';
}