@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
}


@font-face {
    font-family: 'Gwendolyn';
    src: url('../font/Gwendolyn-Bold.ttf');
}

@font-face {
    font-family: 'Condensed';
    src: url('../font/RobotoCondensed-VariableFont_wght.ttf');
}

#home_title {
 font-family: 'Condensed';
 color:#131212;
 font-weight: bold;
 
}

.logo{
font-family: 'Gwendolyn';
font-size: 40px;
font-weight: 600;
}
#reservation_button, #menu-content {
    
    background-color: #293041;
    width: 150px;
}

#reservation_button:hover{
    background-color: #DA7D13;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

.listing_card{
    width: 300px;
    height: 230px;
    padding: 6px;
    
}

.card_shop{
    width: 300px;
    
}
.nav_menu {
    width: 100%;
    font-family: 'Condensed';
}

#header, footer{
   background-color: #293041;
   color: white;
}

.homeBox{
    background-color: #FBE0D5;
 }

#nav_header{
    background-color: #293041;
    color: white;
}

