{% extends 'base.html.twig' %}

{% block title %}Hello AddServiceController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/VAI-CM08-SG25-ADMIN/Desktop/Flozen/src/Controller/AddServiceController.php</code></li>
        <li>Your template at <code>C:/Users/VAI-CM08-SG25-ADMIN/Desktop/Flozen/templates/add_service/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
