{% extends 'base.html.twig' %}


{% block body %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" integrity="sha256-ZztCtsADLKbUFK/X6nOYnJr0eelmV2X3dhLDB/JK6fM=" crossorigin="anonymous"></script>
	<script>
		let events = document.querySelector('#events');

document.addEventListener('DOMContentLoaded', function () {
const calendarEl = document.getElementById('calendar')
const calendar = new FullCalendar.Calendar(calendarEl, {initialView:'dayGridMonth'})
calendar.render()
})
	</script>

	<div id='calendar'></div>


{% endblock %}
