{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-auto relative flex justify-center items-center">
		<img
		src="{{asset('picture/pano.jpg')}}" alt="" class="w-max">
		{# <div class="absolute top-1/3 left-2/4"> #}
		<h1 class="absolute top-1/3 text-8xl z-0">Flo'Zen
		</h1>
		 <div class="absolute mt-4">
			<button class="bg-green-500 rounded-lg h-20 w-40 hover:bg-green-800 text-2xl shadow-[0_0_20px_black]">reserver</button>
		 </div>

	</div>

	<div class="bg-purple-400 h-96 w-auto flex p-4">
	<div class=""></div>
	</div>

	<div class="bg-red-400 h-96 w-auto">
	</div>

{% endblock %}
