{% extends 'base.html.twig' %}

{% block body %}

	<div class="w-auto h-auto relative flex justify-center">
		<div class="relative w-max">
			<img src="{{ asset('picture/pano.jpg') }}" alt="" class="w-max">
		</div>

		<div class="h-auto w-auto absolute top-1/4 flex flex-col items-center">

			<p id="home_title" class="mb-5 text-6xl lg:text-9xl">Flo'Zen</p>
			<a href="{{path('calendar')}}">
				<button id="reservation_button" class="shadow-[0_0_20px_gray] flex justify-center items-center transition duration-300 py-2 px-4 rounded">
					<p class="font-sans text-white text-xs sm:text-sm">Réservez votre séance</p>
				</button>
			</a>
		</div>

	</div>

	<div class="bg-gray-600 w-auto p-6">
		<div class="bg-white h-96 w-auto"></div>
	</div>


	<div class="bg-red-400 w-auto p-6">
		<div class="bg-white h-96 w-auto"></div>
	</div>
	
{% endblock %}
