{% extends "base.html.twig" %}


{% block body %}
	<h1 class="service_title flex justify-center text-2xl sm:text-4xl lg:text-6xl mb-10 mt-5">Les massages bien-être</h1>

	<article class="bg-cyan-700 h-64 w-auto mb-5 block px-3">
		<h2 class="text-red-400 mb-3 text-center">Massage Californien</h2>

		<div class="">
        </div>
        
        <div class="">
			<p class="text-xs md:text-sm">Besoin de vous détendre et de vous relaxer en profondeur ? Découvrez le Massage Californien, une expérience sensorielle unique qui vous transportera au cœur de la relaxation. Laissez-vous envelopper par des gestes enveloppants, fluides et harmonieux, libérant les tensions et apaisant l'esprit. Offrez-vous un moment de bien-être absolu et ressourcez-vous grâce au Massage Californien. Prenez soin de vous, réservez dès maintenant</p>
		</div>
	</article>

	<div class="bg-green-700 h-64 w-auto mb-5"></div>
	<div class="bg-pink-700 h-64 w-auto mb-5"></div>


{% endblock %}
