{% extends 'user_interface/base.html.twig' %}

{% block appointment %}
	<div class="w-auto p-6 flex">
    <div class=" bg-gray-300 w-52">
    <h1 class="flex justify-center">
    Passé</h1>
    </div>

    <div class=" bg-gray-400 w-52">
    <h1 class="flex justify-center">
    A venir</h1>
    </div>
{% endblock %}