{% extends 'user_interface/base.html.twig' %}

{% block infos %}
	<div class="p-6">
		<p>Bonjour <strong>{{ user.ProfilUser.firstName }}</strong>!</p>
		<br>
		<p>À partir du tableau de bord de votre compte, vous pouvez visualiser vos commandes récentes, gérer vos adresses de livraison et de facturation ainsi que changer votre mot de passe et les détails de votre compte.</p>
	</div>
{% endblock %}
