{% extends 'user_interface/base.html.twig' %}

{% block infos %}
	<div class="max-md:py-6 px-4 md:w-1/2">
		{% if app.user %}
			{% if app.user.ProfilUser is null or app.user.ProfilUser.firstName is null %}
				<p>Bonjour
					<strong>{{ app.user.email }}</strong>!</p>
			{% else %}
				<p>Bonjour
					<strong>{{ app.user.ProfilUser.firstName }}</strong>!</p>

			{% endif %}
			{% if not is_granted('ROLE_ADMIN') %}
				<p>À partir du tableau de bord de votre compte, vous pouvez visualiser vos commandes récentes, gérer vos rendez-vous ainsi que changer votre mot de passe et les détails de votre compte.</p>
				<p>Complétez vos informations dans "details du compte" pour pouvoir réserver des séances et profiter de notre boutique.
			{% else %}
				<p>Tu es l'Admin !</p>
			{% endif %}

		{% endif %}
	</div>
{% endblock %}
