{% extends 'user_interface/base.html.twig' %}

{% block infos %}
	<div class="p-6">
		{% if user.ProfilUser is null or user.ProfilUser.firstName is null %}
        <p>Bonjour <strong>{{ user.email }}</strong>!</p>
    {% else %}
        <p>Bonjour <strong>{{ user.ProfilUser.firstName }}</strong>!</p>
    {% endif %}

		
		<br>
		<p>À partir du tableau de bord de votre compte, vous pouvez visualiser vos commandes récentes, gérer vos adresses de livraison et de facturation ainsi que changer votre mot de passe et les détails de votre compte.</p>
		
	</div>
{% endblock %}
