{% extends 'user_interface/base.html.twig' %}

{% block password %}
	<form method="post" class="p-6">
		<div class="block">
        <h1 class="font-semibold text-lg mb-3">Changement de mot de passe</h1>
			<label for="password" class="block text-sm">Mot de passe actuel</label>
			<input type="password" class="form-control border-solid border-2 mb-5">
		</div>
		<div class="block">
			<label for="password" class="block text-sm">Nouveau mot de passe</label>
			<input type="password" class="form-control border-solid border-2 mb-5">
		</div>
        <div class="block">      
			<label for="password" class="block text-sm">Confirmer le nouveau mot de passe</label>
			<input type="password" class="form-control border-solid border-2 mb-5">
		</div>

		<button class="block btn btn-lg btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit ">
			Enregistrer les modifications
		</button>

	</form>
{% endblock %}
