{% extends 'base.html.twig' %}


{% block listings %}

	<div class="w-auto gap-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-6">
		{% include '_partials/_card.html.twig' %}
	</div>

{% endblock %}
