{% extends 'base.html.twig' %}


{% block body %}

	<div class="w-auto grid grid-cols-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
		{% include '_partials/_card.html.twig' %}
	</div>

{% endblock %}
